body {
    background: #000;
    color: #f7d300;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #111;
    padding: 30px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(255, 230, 0, 0.3);
}

h2 {
    text-align: center;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

button {
    width: 100%;
    padding: 12px;
    background: #f7d300;
    border: none;
    color: #000;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background: #e4c000;
}
